
.left-side {
  float: left;
}

.right-side {
  float: right;
}

.card {
  border-radius: 2%;
  background: white;
  padding-left: 7%;
  padding-bottom: 7%;
  margin-right: 12%;
}

.widget {

}

#side-nav.left-side {
  float: left;
  background-color: #282828;
  margin-left: -1%;
  width: 25%;
  height: 105vh;
  padding-left: 3%;
  padding-right: 0%;
  padding-top: 6%;
  margin-top: -2%;
}

#console.right-side {
  float: right;
}

#user-greeting {
  font-size: 40px;
  color: white;
  font-family: 'Lato', sans-serif;
}

#user-profile-pic {
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 7%;
}

#user-info {
  margin-top: 5%;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  color: #282828;
}

h1 {
  font-family: 'Lato', sans-serif;
}

h2 {
  font-family: 'Lato', sans-serif;
}

html {
  overflow: hidden;
}
